# Nisrin Dhoondia

# Exploratory Data Analysis (EDA)

This notebook performs initial exploration of the satellite dataset to understand the dataset contents

# Note: The full pipeline code is implemented in  
[src/satellite_clustering_anomaly_pipeline.py](https://github.com/OrbitGuardians-Datathon/OrbitGuardians_Datathon_WID_2025/blob/main/datathon-project/src/satellite_clustering_anomaly_pipeline.py)

In [3]:
# Import libraries
import numpy as np
import pandas as pd
import json

In [4]:
# Load dataset
with open("satellite_data.json", "r") as f:
    raw = json.load(f)

In [5]:
# convert it into pandas DataFrame
df = pd.DataFrame(raw)
df

,OBJECT_NAME,NORAD_CAT_ID,INTLDES,COUNTRY,LAUNCH_DATE,TLE_DATA
0,DFH-1,4382,1970-034A,PRC,1970-04-24,"{'TLE_OBJECT_NAME': 'DFH-1', 'TLE_LINE1': '1 0..."
1,CZ-1 R/B,4392,1970-034B,PRC,1970-04-24,"{'TLE_OBJECT_NAME': 'CZ-1 R/B', 'TLE_LINE1': '..."
2,CZ-1 DEB,4400,1970-034C,PRC,1970-04-24,"{'TLE_OBJECT_NAME': 'CZ-1 DEB', 'TLE_LINE1': '..."
3,SJ-1,5007,1971-018A,PRC,1971-03-03,"{'TLE_OBJECT_NAME': 'SJ-1', 'TLE_LINE1': '1 05..."
4,CZ-1 R/B,5041,1971-018B,PRC,1971-03-03,"{'TLE_OBJECT_NAME': 'CZ-1 R/B', 'TLE_LINE1': '..."
...,...,...,...,...,...,...
8643,OBJECT B,65260,2025-180B,PRC,2025-08-19,"{'TLE_OBJECT_NAME': 'OBJECT B', 'TLE_LINE1': '..."
8644,OBJECT C,65261,2025-180C,PRC,2025-08-19,"{'TLE_OBJECT_NAME': 'OBJECT C', 'TLE_LINE1': '..."
8645,OBJECT D,65262,2025-180D,PRC,2025-08-19,"{'TLE_OBJECT_NAME': 'OBJECT D', 'TLE_LINE1': '..."
8646,OBJECT E,65263,2025-180E,PRC,2025-08-19,"{'TLE_OBJECT_NAME': 'OBJECT E', 'TLE_LINE1': '..."
8647,ZK-1A R/B,65264,2025-180F,PRC,2025-08-19,"{'TLE_OBJECT_NAME': 'ZK-1A R/B', 'TLE_LINE1': ..."

In [6]:
# Overview of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8648 entries, 0 to 8647
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OBJECT_NAME   8648 non-null   object
 1   NORAD_CAT_ID  8648 non-null   object
 2   INTLDES       8648 non-null   object
 3   COUNTRY       8648 non-null   object
 4   LAUNCH_DATE   8648 non-null   object
 5   TLE_DATA      8632 non-null   object
dtypes: object(6)
memory usage: 405.5+ KB

In [7]:
# Find values and its counts in the COUNTRY feature/column
df["COUNTRY"].value_counts()

COUNTRY
PRC    8648
Name: count, dtype: int64

In [8]:
# Check null values count per column
df.isnull().sum()

OBJECT_NAME      0
NORAD_CAT_ID     0
INTLDES          0
COUNTRY          0
LAUNCH_DATE      0
TLE_DATA        16
dtype: int64